@model H_project1.Models.AccessData.User
@{
    ViewBag.Title = "EditProfile";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}
<div class="header-spacer header-spacer-small"></div>

<div class="main-header" style="width: 100% !important; max-width: 100%">
    <div class="content-bg-wrap bg-account"></div>
    <div class="container-fluid">
        <div class="row">
            <div class="col col-lg-8 m-auto col-md-8 col-sm-12 col-12">
                <div class="main-header-content">
                    <h1>Your Account Dashboard</h1>
                    <p>
                        Welcome to your account dashboard! Here you’ll find everything you need to change your profile
                        information, settings, read notifications and requests, view your latest messages, change your pasword and much
                        more!, have fun!
                    </p>
                </div>
            </div>
        </div>
    </div>
    <img class="img-bottom" src="/content/assets/img/account-bottom.png" alt="friends">
</div>

<!-- ... end Main Header Account -->
<!-- Your Account Personal Information -->

<div class="container">
    <div class="row">
        <div class="col col-xl-9 order-xl-2 col-lg-9 order-lg-2 col-md-12 order-md-1 col-sm-12 col-12">
            <div class="ui-block">
                <div class="ui-block-title">
                    <h6 class="title">Personal Information</h6>
                </div>
                <div class="ui-block-content">


                    <!-- Personal Information Form  -->

                    <form action="EditProfile" method="post">
                        <div class="row">

                            <div class="col col-lg-6 col-md-6 col-sm-12 col-12">
                                <div class="form-group label-floating">
                                    <label class="control-label">First Name</label>
                                    <input class="form-control" value="@Model.Fname" name="Fname" type="text">
                                </div>

                                <div class="form-group label-floating">
                                    <label class="control-label">Your Email</label>
                                    <input class="form-control" value="@Model.Email" name="Email" type="email">
                                </div>

                                <div class="form-group date-time-picker label-floating">
                                    <label class="control-label">Your Birthday</label>
                                    <input name="datetimepicker" value="@Model.birthday" />
                                    <span class="input-group-addon">
                                        <svg class="olymp-month-calendar-icon icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-month-calendar-icon"></use></svg>
                                    </span>
                                </div>
                            </div>

                            <div class="col col-lg-6 col-md-6 col-sm-12 col-12">
                                <div class="form-group label-floating">
                                    <label class="control-label">Last Name</label>
                                    <input class="form-control" name="lname" value="@Model.lname" type="text">
                                </div>

                                <div class="form-group label-floating">
                                    <label class="control-label">bio</label>
                                    <input class="form-control" name="bio" value="@Model.bio" type="text">
                                </div>


                                <div class="form-group label-floating ">
                                    <label class="control-label">Your Phone Number</label>
                                    <input class="form-control" value="@Model.mobile" name="mobile" type="text">
                                </div>
                            </div>

                            <div class="col col-lg-4 col-md-4 col-sm-12 col-12">
                                <div class="form-group label-floating is-select">
                                    <label class="control-label">Your Country</label>
                                    <input class="form-control" name="countryName" value="@Model.country" type="text">
                                </div>
                            </div>
                            <div class="col col-lg-4 col-md-4 col-sm-12 col-12">
                                <div class="form-group label-floating is-select">
                                    <label class="control-label">Your State / Province</label>
                                    <input class="form-control" name="state" value="@Model.state" type="text">
                                </div>
                            </div>
                            <div class="col col-lg-4 col-md-4 col-sm-12 col-12">
                                <div class="form-group label-floating is-select">
                                    <label class="control-label">Your City</label>
                                    <input class="form-control" name="City" value="@Model.city" type="text">
                                </div>
                            </div>
                            <div class="col col-lg-6 col-md-6 col-sm-12 col-12">
                                <div class="form-group label-floating">
                                    <label class="control-label">Orientation</label>
                                    <input class="form-control" name="orientation" value="@Model.orientation" type="text">
                                </div>


                                <div class="form-group label-floating is-select">
                                    <label class="control-label">Your Gender</label>
                                    <select class="selectpicker form-control" name="gender">
                                        <option value="Male">Male</option>
                                        <option value="Female">Female</option>
                                    </select>
                                </div>

                                <div class="form-group label-floating is-empty">
                                    <label class="control-label">Religious Belifs</label>
                                    <input class="form-control" name="religious" value="@Model.religen" type="text">
                                </div>
                                <div class="form-group label-floating">
                                    <label class="control-label">Height</label>
                                    <input class="form-control" name="height" value="@Model.height" type="text">
                                </div>

                                <div class="checkbox">
                                    <label>
                                        @if (Model.Smokes == true)
                                        {
                                            <input name="Smoking" id="Smoking" onchange="smoking()" type="checkbox" checked="checked">
                                        }
                                        else
                                        {
                                            <input name="Smoking" id="Smoking" onchange="smoking()" type="checkbox">
                                        }
                                        <input type="hidden" value="false" name="Smokes" id="Smokes" />
                                      
                                        Smoking
                                    </label>
                                </div>

                            </div>
                            <div class="col col-lg-6 col-md-6 col-sm-12 col-12">
                                <div class="form-group label-floating is-empty">
                                    <label class="control-label">Your Birthplace</label>
                                    <input class="form-control" name="Birthplace" value="@Model.BirthPlace" type="text">
                                </div>
                                <div class="form-group label-floating is-select">
                                    <label class="control-label">Status</label>
                                    <select class="selectpicker form-control" name="marriagestatus">
                                        <option value="1">Married</option>
                                        <option value="2">Not Married</option>
                                    </select>
                                </div>
                                <div class="form-group label-floating">
                                    <label class="control-label">Your Occupation</label>
                                    <input class="form-control" name="Occupation" type="text" value="@Model.occupation">
                                </div>


                                <div class="form-group label-floating">
                                    <label class="control-label">Body type</label>
                                    <input class="form-control" value="@Model.bodytype" type="text">
                                </div>
                                <div class="form-group label-floating">
                                    <label class="control-label">Diet</label>
                                    <input class="form-control" value="@Model.Diet" type="text">
                                </div>

                            </div>

                            <div class="col col-lg-6 col-md-6 col-sm-12 col-12">
                                <button class="btn btn-secondary btn-lg full-width" type="reset">Restore all Attributes</button>
                            </div>
                            <div class="col col-lg-6 col-md-6 col-sm-12 col-12">
                                <button class="btn btn-primary btn-lg full-width" type="submit">Save all Changes</button>
                            </div>

                        </div>
                    </form>

                    <!-- ... end Personal Information Form  -->
                </div>



            </div>
        </div>

        <div class="col col-xl-3 order-xl-1 col-lg-3 order-lg-1 col-md-12 order-md-2 col-sm-12  responsive-display-none">
            <div class="ui-block">



                <!-- Your Profile  -->

                <div class="your-profile">
                    <div class="ui-block-title ui-block-title-small">
                        <h6 class="title">Your PROFILE</h6>
                    </div>

                    <div id="accordion" role="tablist" aria-multiselectable="true">
                        <div class="card">
                            <div class="card-header" role="tab" id="headingOne">
                                <h6 class="mb-0">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                        Profile Settings
                                        <svg class="olymp-dropdown-arrow-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-dropdown-arrow-icon"></use></svg>
                                    </a>
                                </h6>
                            </div>

                            <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
                                <ul class="your-profile-menu">
                                    <li>
                                        <a href="/User/EditProfile">Personal Information</a>
                                    </li>

                                    <li>
                                        <a href="/User/ChangePassword">Change Password</a>
                                    </li>
                                    <li>
                                        <a href="/User/Hobbies">Hobbies and Interests</a>
                                    </li>
                                    <li>
                                        <a href="/User/EducationAndEmployement">Education and Employement</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="ui-block-title">
                        <a href="/User/Notifications" class="h6 title">Notifications</a>
                        <a href="#" class="items-round-little bg-primary" id="notificationNum"></a>
                    </div>

                    <div class="ui-block-title">
                        <a href="/User/FriendsRequests" class="h6 title">Friend Requests</a>
                        <a href="#" class="items-round-little bg-blue" id="frnum"></a>
                    </div>

                </div>

                <!-- ... end Your Profile  -->


            </div>
        </div>
    </div>
</div>

<!-- ... end Your Account Personal Information -->

<script>
    function smoking()
    {
    
        document.getElementById("Smokes").value = document.getElementById("Smoking").checked;
    }
</script>